@import url("https://fonts.googleapis.com/css?family=Anton|Nunito:200,300,400,600,700,800,900|Quicksand:300,400,500,700|Roboto:100,300,400,500,700,900|Montserrat:300,400,500,600,700,800|Raleway:100,200,300,400,600,700,800,900");
@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
@import url("https://use.fontawesome.com/releases/v5.7.0/css/all.css");
body {
  font-family: "Anton", sans-serif; }

.col > .bar {
  display: grid; }

.row, .col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.bar {
  display: inline-grid;
  grid-auto-flow: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .row > .bar {
    grid-auto-flow: column; }
