//******************************************************************************
// Layout
//------------------------------------------------------------------------------
// gap, pad
//******************************************************************************

%display-grid {
    display: grid;
}
%display-flex {
    display: flex;
}
.row {
    @extend %display-flex;
    flex-direction: row;
}
.col {
    @extend %display-flex;
    flex-direction: column;
}
.bar {
    display: inline-grid;
    grid-auto-flow: row;
    align-items: center;
    .row > & {
        grid-auto-flow: column;
    }
    .col > & {
        @extend %display-grid;
    }
}

.cell {
    width: 100%;
}
